---
import MainLayout from "../layouts/MainLayout.astro";
import { Image, Picture } from "@astrojs/image/components";
---

<MainLayout title="GSSP">
  <div class="contact">
    <h1>Contact</h1>
    <div class="contact-item">
      <h1>PCSS</h1>
      <h2>Your final impact statement goes here. Make it memorable!</h2>
    </div>
    <div class="contact-item">
      <div>
        <h3>Connect With Us</h3>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
        <a href="#">LinkedIn</a>
      </div>
      <div>
        <h3>Our Location</h3>
        <p>
          1234 Main Street<br />
          Anytown, USA 12345
        </p>
      </div>
    </div>
    <div class="contact-item">
        <h1>pgssatsangi.com</h1>
        </div>
  </div>
</MainLayout>
