---
import MainLayout from "../layouts/MainLayout.astro";
import { Image, Picture } from "@astrojs/image/components";
---

<MainLayout title="GSSP">
  <div class="education">
    <h1>Education</h1>
    <div class="education-item">
      <h3>YOUR MAIN IDEA GOES HERE</h3>
      <p>
        There is just enough space here for several lines of text. You can add
        details, share a quick story, or elaborate on an idea, as long as you
        keep the information engaging and relevant. For maximum impact, make
        sure you get your message across clearly yet concisely.
      </p>
    </div>
    <div class="education-item">
      <h3>YOUR MAIN IDEA GOES HERE</h3>
      <p>
        There is just enough space here for several lines of text. You can add
        details, share a quick story, or elaborate on an idea, as long as you
        keep the information engaging and relevant. For maximum impact, make
        sure you get your message across clearly yet concisely.
      </p>
    </div>
    <div class="education-item">
      <h3>YOUR MAIN IDEA GOES HERE</h3>
      <p>
        There is just enough space here for several lines of text. You can add
        details, share a quick story, or elaborate on an idea, as long as you
        keep the information engaging and relevant. For maximum impact, make
        sure you get your message across clearly yet concisely.
      </p>
    </div>
  </div>
</MainLayout>
