---
import MainLayout from "../layouts/MainLayout.astro";
import { Image, Picture } from "@astrojs/image/components";
---

<MainLayout title="GSSP">
  <div class="hero">
    <Image
      src={"/images/gssp.jpg"}
      width={1024}
      height={1024}
      alt="GSSP"
      format={"webp"}
    />
    <div class="hero-text">
        <h1>Guru Saran Satsangi Peddinti</h1>
    <h3>I am Guru Saran Satsangi Peddinti, a passionate and dedicated student pursuing a Bachelor's degree in Data Science and Applications at IIT Madras. With a strong foundation in statistical analysis, machine learning, and programming, I strive to apply my knowledge to solve real-world problems and extract valuable insights from complex data sets.

      Beyond my academic pursuits, I am also an ardent ferroequinologist, indulging in the fascinating study of railways and locomotives. This interest has allowed me to delve into the intricate systems and operations behind railway networks, honing my analytical skills and attention to detail.
      
      Furthermore, I embrace my creative side as a memer, utilizing humor and visual storytelling to engage and entertain others. Through my memes, I aim to bring a smile to people's faces while connecting with like-minded individuals who appreciate the lighter side of life.
      
      As a diverse individual with a blend of academic prowess, passion for ferroequinology, and a penchant for creating memes, I am constantly seeking opportunities to learn, grow, and make a positive impact in the world of data science and beyond.</h3>
    </div>
  </div>
</MainLayout>
