---

---

<div class="navbar">
    <a href="/">Home</a>
    <a href="/education">Education</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact Me</a>
    <button><a href="#">Resume</a></button>
</div>