---
import MainHead from './MainHead.astro';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

import "../styles/global.scss"

interface Props {
    title: string;
    description?: string;
    keywords?: string[];
}
const { title } = Astro.props as Props;
---

<html>
<MainHead title={title}/>
    <body>
        <Navbar />
        
        <slot class="" />
        <Footer />
    </body>
</html>